body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.wayup-header {
	height: 100vh;
	background: #ecb335 url(../img/background.png) no-repeat center;
	background-size: cover;
}
.container {
	max-width: 1170px;
	margin: 0 80px;
}
.logo {
	padding: 50px 0;
	display:flex;
	align-items: center;
}
		
.logo-text {
	display: inherit;
	flex-direction: column;
}

h1, h2, h3, .font-superbold {
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
}

h1 {
	font-size: 37px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 15px;
}

.offer {
	padding-top: 375px;
}
.offer p {
	font-size: 20px;
	font-family: "Open Sans";
}

.section {
	height: 100vh;
	padding-top: 130px;
}
.metris {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}
.unit {
	display: inline-block;
	width: 340px;
	background: url('../img/icon1.jpg') no-repeat left top;
	padding-left: 87px;
	padding-top: 15px;
}

.unit:nth-child(2) {
	background: url('../img/icon2.jpg') no-repeat left top;
}

.unit:last-child {
	background: url('../img/icon3.jpg') no-repeat left top;
}


.unit h3 {
	margin-bottom: 5px;
}
.photos {
	margin-top: 85px;
}

.images {
	display: flex;
	justify-content: space-between;
}
.btn {
	background: #ecac2e;
	color: #000;
	font-weight: 800;
	width: 236px;
	padding: 16px 0;
	text-align: center;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 93px;
	transition: 0.5s;
}

.btn:hover {
	background: #d5920e;
}

.footer {
	background: #000;
	color: #fff;
	font-size: 11px;
	margin-top: 116px;
	padding: 55px 0;
}

.footer-text {
	display: flex;
}

.footer-item {
	margin-right: 73px;
}

