body {
	font-family: 'Open Sans', sans-serif;
}
.wayup-header {
	height: 100vh;
	background: #ecb335 url(../img/background.png) no-repeat center;
	background-size: cover;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	border: 5px solid green;
}
	
.logo {
	margin-top:5%;
	display:flex;
	align-items: center;
}
		
.logo-text {
	display: inherit;
	flex-direction: column;
}
h1, h2, h3 {
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
}

h1 {
	font-size: 37px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 15px;
}