body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.wayup-header {
	height: 100vh;
	background: #ecb335 url(../img/background.png) no-repeat center;
	background-size: cover;
}
.container {
	margin: 0 7% auto;
}
.logo {
	padding: 50px 0;
	display:flex;
	align-items: center;
}
		
.logo-text {
	display: inherit;
	flex-direction: column;
}

h1, h2, h3, .font-superbold {
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
}

h1 {
	font-size: 37px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 15px;
}

.offer {
	margin-bottom: 375px;
}
.offer p {
	font-size: 20px;
	font-family: "Open Sans";
}
.section {
	height: 100vh;
	padding-top: 130px;
}
.photo {
	display: flex;
	justify-content: space-between;
	max-width:100%;
	height: auto
 }

.img {
	max-width: 100%;
}












